//- use html 5 for boiler plate
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/index.css")
        title Document  
    body
        nav 
            ul
                li
                    a(href="/home") Home
                li
                    a(href="/ourservice") Our Service
                li
                    a(href="/ContactUs") Contact Us
    
        h1 All you need to know of DarkSeid
        h1 The Famous Phrase From DarkSeid " We Shall Use The Old Ways"
        h1 Watch Below
        div(id="oldWays")
           iframe(
            width="800"
            height="500"
            src="https://www.youtube.com/embed/t-UX37oYVpA?si=Y1ZzTDzCFfsryxPE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        )
      
        h1(class="word1")
            | DeSaad : I told you Steppenwolf would fail.
            br
            br
            | Darkseid : Yes. Yes, you did.
            br
            br
            | DeSaad : My master, now that the Mother Boxes have been destroyed, how will you retrive your great prize?
            br
            br  
            | Darkseid : Anti-Life is found, DeSaad. And we will stop at nothing to possess it. Ready the armada. We will use the old ways.
            
        h1(class="word2") Scorched a 100 thousand worlds to dust looking for anti-life.

        iframe(
            id="oldWays"
            width="800" 
            height="500" 
            src="https://www.youtube.com/embed/SjPtqUMYmns?si=3DkAy_OjRQLUc7hI" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen)


        h1(class="word1") Darkseid : I have turned one hundred thousand worlds to dust looking for Anti-Life; looking for those who robbed me of my glory. I will stride across their bones and bask in the glow of Anti-Life, and all of existence shall be mine!

        h1(class="word1") Steppenwolf : It shall be so, my master.
                   